<form>
  <!-- <hr class="hr-style"> -->
  <div class="row">
    <div class="col-12">
      <p class="font-blk"> Enterprises Payments </p>
    </div>

    <div class="col-12 text-center  plan-type ">
      <div class="tab-head">
        <label>
          Bills - #3
        </label>
      </div>
      <div class="tab-head">
        <label>
          Invoices - #3
        </label>
      </div>
      <div class="tab-head">
        <label>
          Total Transactions - #6
        </label>
      </div>
      <div class="tab-head">
        <label>

        </label>
      </div>
      <div class="tab-head-blk">
        <button class="btn btn-black"> Manage Transaction </button>
      </div>
    </div>


  </div>
  <hr class="hr-style">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-3 card-block showdiv">
          <button class="btn btn-black mar-top-10">Billing Details</button>
          <hr class="hr-style">
          <p class="font-wht">Testaccount1 - Prepaid</p>
          <hr class="hr-style">
          <p><img src="assets/image/calender.png">25-May-2020 / 01:20 PM</p>
          <p><img src="assets/image/user.png">Mathew Perry</p>
          <div class="overlay view-details"> <button type="button" class="btn btn-pri text " data-toggle="modal"
              data-target="#billingModal">View Details</button> </div>
        </div>
        <div class="col-3 card-block showdiv">
          <button class="btn btn-black mar-top-10">Billing Details</button>
          <hr class="hr-style">
          <p class="font-wht">Testaccount1 - Prepaid</p>
          <hr class="hr-style">
          <p><img src="assets/image/calender.png">25-May-2020 / 01:20 PM</p>
          <p><img src="assets/image/user.png">Mathew Perry</p>
          <div class="overlay view-details"> <button type="button" class="btn btn-pri text " data-toggle="modal"
              data-target="#billingModal">View Details</button> </div>
        </div>

        <div class="col-3 card-block showdiv">
          <button class="btn btn-black mar-top-10">Billing Details</button>
          <hr class="hr-style">
          <p class="font-wht">Testaccount1 - Prepaid</p>
          <hr class="hr-style">
          <p><img src="assets/image/calender.png">25-May-2020 / 01:20 PM</p>
          <p><img src="assets/image/user.png">Mathew Perry</p>
          <div class="overlay view-details"> <button type="button" class="btn btn-pri text " data-toggle="modal"
              data-target="#billingModal">View Details</button> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 card-block showdiv">
          <button class="btn btn-black mar-top-10">Invoices Details</button>
          <hr class="hr-style">
          <p class="font-wht">Testaccount2 - Unpaid</p>
          <hr class="hr-style">
          <p><img src="assets/image/calender.png">25-May-2020 / 01:20 PM</p>
          <p><img src="assets/image/user.png">Mathew Perry</p>
          <div class="overlay view-details"> <button type="button" class="btn btn-pri text " data-toggle="modal"
              data-target="#invoicesModal">View Details</button> </div>
        </div>
        <div class="col-3 card-block showdiv">
          <button class="btn btn-black mar-top-10">Invoices Details</button>
          <hr class="hr-style">
          <p class="font-wht">Testaccount2 - Unpaid</p>
          <hr class="hr-style">
          <p><img src="assets/image/calender.png">25-May-2020 / 01:20 PM</p>
          <p><img src="assets/image/user.png">Mathew Perry</p>
          <div class="overlay view-details"> <button type="button" class="btn btn-pri text " data-toggle="modal"
              data-target="#invoicesModal">View Details</button> </div>
        </div>
        <div class="col-3 card-block showdiv">
          <button class="btn btn-black mar-top-10">Invoices Details</button>
          <hr class="hr-style">
          <p class="font-wht">Testaccount2 - Unpaid</p>
          <hr class="hr-style">
          <p><img src="assets/image/calender.png">25-May-2020 / 01:20 PM</p>
          <p><img src="assets/image/user.png">Mathew Perry</p>
          <div class="overlay view-details"> <button type="button" class="btn btn-pri text " data-toggle="modal"
              data-target="#invoicesModal">View Details</button> </div>
        </div>

      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="billingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog vertical-alignment-helper" role="document">
    <div class="vertical-align-center">
      <div class="modal-content  ">
        <div class="modal-header">
          <img class="arrow-size" src="assets/image/left-arrow.png"><span class="font-blk">Billing Details</span> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body row">
          <div class="col-4">
            <label>Owner Name</label>
            <input class="form-control input-sty" name="owner_name" type="text" placeholder="Owner Name"
              value="Ross Geller">
          </div>
          <div class="col-4">
            <label>Owner Number</label>
            <input class="form-control input-sty" name="owner_number" type="text" placeholder="Owner Number"
              value="9876543210">
          </div>
          <div class="col-4">
            <label>No of API Used</label>
            <input class="form-control input-sty" name="api_used" type="text" placeholder="api_used" value="50">
          </div>
        </div>
        <div class="modal-body row">
          <div class="col-8">
            <label>SMS Sent</label>
            <input class="form-control input-sty" name="sms_sent" type="text" placeholder="SMS Sent" value="1000">
          </div>

        </div>
        <div class="modal-body row">
          <div class="col-4">
            <label>Entry Date</label>
            <input class="form-control input-sty" name="entry_date" type="date" placeholder="Entry Date" value="">
          </div>
          <div class="col-4">
            <label>Expiry Date</label>
            <input class="form-control input-sty" name="expiry_date" type="date" placeholder="Expiry Date" value="">
          </div>

        </div>
        <div class="modal-body row">
          <div class="col-4">
            <label>Amount</label>
            <input class="form-control input-sty" name="amount" type="text" placeholder="Amount" value="5000">
          </div>
          <div class="col-4">
            <label>Late Fee(if any)</label>
            <input class="form-control input-sty" name="late_fee" type="text" placeholder="Late Fee" value="4000">
          </div>

        </div>

        <div class="modal-footer">
          <div class="col-12">

            <div class="col-12 text-right">
              <button type="button" class="btn btn-wht mar-rgt" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-pri">Download</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="invoicesModal" tabindex="-1" role="dialog" aria-labelledby="invoicesModalLabel"
  aria-hidden="true">
  <div class="modal-dialog vertical-alignment-helper" role="document">
    <div class="vertical-align-center">
      <div class="modal-content  ">
        <div class="modal-header">
          <img class="arrow-size" src="assets/image/left-arrow.png"><span class="font-blk">Invoice Details</span> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body row">
          <div class="col-4">
            <label>Owner Name</label>
            <input class="form-control input-sty" name="owner_name" type="text" placeholder="Owner Name"
              value="Ross Geller">
          </div>
          <div class="col-4">
            <label>Enterprises Name</label>
            <input class="form-control input-sty" name="enterprises_number" type="text" placeholder="Enterprises Number"
              value="Monica Geller">
          </div>
          <div class="col-4">
            <label>ID</label>
            <input class="form-control input-sty" name="id_num" type="text" placeholder="ID Number" value="#001">
          </div>
        </div>

        <div class="modal-body row">
          <div class="col-4">
            <label>Issued On</label>
            <input class="form-control input-sty" name="issued_on" type="date" placeholder="Isuued On" value="">
          </div>
          <div class="col-4">
            <label>Paid On</label>
            <input class="form-control input-sty" name="paid_on" type="date" placeholder="Paid On" value="">
          </div>
        </div>
        <div class="modal-body row">
          <div class="col-4">
            <label>Payment Status</label>
            <input class="form-control input-sty" name="payment_status" type="text" placeholder="Payment Status"
              value="Paid">
          </div>
          <div class="col-4">
            <label>Payment Type</label>
            <input class="form-control input-sty" name="payment_type" type="text" placeholder="Payment Type"
              value="Recurring">
          </div>
        </div>
        <div class="modal-body row">
          <div class="col-4">
            <label>Amount</label>
            <input class="form-control input-sty" name="amount" type="text" placeholder="Amount" value="5000">
          </div>
          <div class="col-4">
            <label>Late Fee(if any)</label>
            <input class="form-control input-sty" name="late_fee" type="text" placeholder="Late Fee" value="4000">
          </div>
        </div>

        <div class="modal-footer">
          <div class="col-12">

            <div class="col-12 text-right">
              <button type="button" class="btn btn-wht mar-rgt" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-pri">Download</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>