<form>
    <div class="row pt-3">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="row btn-con">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 create_cls">
                    <button class="btn create_new" id="create_new" (click)="OnCreateNewEnterprise()">Create New Enterprise</button>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 provisioning_cls">
                    <button class="btn provisioning" id="provisioning" (click)="OnEnterpriseProvision()">Enterprise Provisioning</button>
                </div>
            </div>

            <div class="topnav">
                <div class="search-container mar-top-10">
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 font-wht"><i class="fa fa-circle"></i>Testaccount10 <span>Active</span></div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 date-style">Today 11/02/2020</div>
                <div class="col-11 font-12 mar-auto">N/A</div>
                <hr class="hr-style">
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 font-wht"><i class="fa fa-circle"></i>Testaccount10 <span>Active</span></div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 date-style">Yesterday 11/02/2020</div>
                <div class="grid-container font-12">
                    <div class="">
                        Plan - Trial
                    </div>
                    <div class="">
                        Journey - 3
                    </div>
                    <div class="">
                        Encap - 2
                    </div>
                    <div class="">
                        Campaign - 7
                    </div>
                </div>
                <div class="grid-container font-12">
                    <div class="">
                        Agent - 3
                    </div>
                    <div class="">
                        Tickets - 4
                    </div>
                    <div class="">
                        &nbsp;  &nbsp;
                     </div>
                     <div class="">
                         &nbsp;  &nbsp;
                     </div>
                </div>
                <hr class="hr-style">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 font-wht"><i class="fa fa-circle"></i>Testaccount10 <span>Active</span></div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 date-style">Yesterday 11/02/2020</div>
                <div class="grid-container font-12">
                    <div class="">
                        Plan - Trial
                    </div>
                    <div class="">
                        Journey - 3
                    </div>
                    <div class="">
                        Encap - 2
                    </div>
                    <div class="">
                        Campaign - 7
                    </div>
                </div>
                <div class="grid-container font-12">
                    <div class="">
                        Agent - 3
                    </div>
                    <div class="">
                        Tickets - 4
                    </div>
                    <div class="">
                        &nbsp;
                     </div>
                     <div class="">
                         &nbsp;
                     </div>
                </div>
                <hr class="hr-style">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 font-wht"><i class="fa fa-circle"></i>Testaccount10 <span>Active</span></div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 date-style">Yesterday 11/02/2020</div>
                <div class="grid-container font-12">
                    <div class="">
                        Plan - Trial
                    </div>
                    <div class="">
                        Journey - 3
                    </div>
                    <div class="">
                        Encap - 2
                    </div>
                    <div class="">
                        Campaign - 7
                    </div>
                </div>
                <div class="grid-container font-12">
                    <div class="">
                        Agent - 3
                    </div>
                    <div class="">
                        Tickets - 4
                    </div>
                    <div class="">
                       &nbsp;
                    </div>
                    <div class="">
                        &nbsp;
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 chart-box">
            <app-dashboard-lazy></app-dashboard-lazy>
        </div>
    </div>
</form>