<div class="row mt-4">
    <div class="col-md-12 ">
        <div class="warpper p-2">
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">Created Date</div>
                        <div class="col-md-5"><input type="date"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">Priority</div>
                        <div class="col-md-5"><input type="date"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">Enterprise Name</div>
                        <div class="col-md-5"><input type="date"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">Closed Date</div>
                        <div class="col-md-5"><input type="date"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">Status</div>
                        <div class="col-md-5"><input type="date"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5">
                            <button class="btn btn-primary px-3 filter_btn">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-3">
        <strong><label class="color_red">No. of Open Tickets: #5</label></strong>
    </div>
</div>

<div class="row col-md-12 mt-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Enterprise Name</th>
                <th scope="col">Owner Info</th>
                <th scope="col">Subscription Info</th>
                <th scope="col">Account Status</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Next Renewal Date</th>
                <th scope="col">Created On</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>ABCDEF</td>
                <td>teksxu</td>
                <td>In Trial</td>
                <td>Active</td>
                <td>Paid</td>
                <td>20/12/2020</td>
                <td>20/11/2020</td>


            </tr>
            <tr>
                <td>GHJKIJ</td>
                <td>musting</td>
                <td>EnterPrise</td>
                <td>Active</td>
                <td>Overdue</td>
                <td>20/12/2020</td>
                <td>20/12/2019</td>
            </tr>
            <tr>
                <td>DJFUUYG</td>
                <td>zjetest</td>
                <td>Professional</td>
                <td>Non-Renewal</td>
                <td>NA</td>
                <td>30/10/2020</td>
                <td>20/12/2019</td>
            </tr>
            <tr>
                <td>ERHBPNG</td>
                <td>etere</td>
                <td>EnterPrise</td>
                <td>Deactive</td>
                <td>Cancelled</td>
                <td>20/12/2020</td>
                <td>20/12/2019</td>
            </tr>
            <tr>
                <td>LMDUFYWWR</td>
                <td>test</td>
                <td>EnterPrise</td>
                <td>Active</td>
                <td>Paid</td>
                <td>20/12/2020</td>
                <td>20/12/2019</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">Showing 1 to 5
            of 10 entries</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="dataTables_paginate paging_simple_numbers" id="dtBasicExample_paginate">
            <ul class="pagination">
                <li class="paginate_button page-item previous" id="dtBasicExample_previous"><a
                        aria-controls="dtBasicExample" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active"><a aria-controls="dtBasicExample" data-dt-idx="1"
                        tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item"><a aria-controls="dtBasicExample" data-dt-idx="2" tabindex="0"
                        class="page-link">2</a></li>
                <li class="paginate_button page-item next" id="dtBasicExample_next"><a aria-controls="dtBasicExample"
                        data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                </li>

            </ul>
        </div>
    </div>
</div>