<div class="row mb-4">
    <div class="col-md-3 ml-2 mr-4 bg_waterblue border_one">
        <div class="row text-center">
            <div class="col-md-10 mx-auto my-3 border_one">
                <div class="row">
                    <div class="col-md-12">
                        <label style="font-size: 15px;" for="Open Tickets">No. of
                            Enterprise
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="font_color_blue" style="font-size: 15px;" for="14">14
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-10 mx-auto my-3 border_one">
                <div class="row">
                    <div class="col-md-12">
                        <label style="font-size: 15px;" for="Open Tickets">Open Tickets
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="font_color_blue" style="font-size: 18px;" for="5">5
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 ml-5 bg_waterblue border_one pt-3">
        <app-chart-dashboard></app-chart-dashboard>
    </div>
</div>