<!-- <div class="row mb-2">
    <div class="col-md-12 nav_link">
        <div>
            <label for="Manage Enterprise">Manage Enterprise</label><i class="fa fa-caret-right"></i>
            <label class="color_blue" *ngIf="isEnterprise" for="Enterprise Onboarded"><a>Enterprise
                    Onboarded</a></label>
            <label class="color_blue" *ngIf="isTicket" for="Ticket Management"><a>Ticket Management</a></label>
            <label class="color_blue" *ngIf="isPayment" for="Payment Management"><a>Payment Management</a></label>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>