<div class="row mb-4">
    <div class="col-md-5 mr-4 ml-2 bg_waterblue border_one">
        <div class="row text-center">
            <div class="col-md-12">
                <label class="p-2" style="font-size: 15px;" for="Subscriptions">Subscriptions</label>
            </div>
        </div>
        <div class="row pb-2 text-center">
            <div class="col-md-4">
                <!-- <label class="p-3" style="font-size: 15px;" for="Trial">Trial</label> -->
                <div class="p-2 border_one">
                    <div class="row text-center" style="height:48%;">
                        <div class="col-md-12">
                            <label class="px-2 font_color_blue" style="font-size: 15px;"
                                for="4">4</label>
                        </div>
                    </div>
                    <div class="row pb-2 text-center">
                        <div class="col-md-12">
                            <label class="px-2" style="font-size: 15px;" for="Trail">Trail</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- <label class="p-3" style="font-size: 15px;" for="Active">Active</label> -->
                <div class="p-2 border_one">
                    <div class="row text-center" style="height:48%;">
                        <div class="col-md-12">
                            <label class="px-2 font_color_blue" style="font-size: 15px;"
                                for="4">4</label>
                        </div>
                    </div>
                    <div class="row pb-2 text-center">
                        <div class="col-md-12">
                            <label class="px-2" style="font-size: 15px;" for="Active">Active</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- <label class="p-3" style="font-size: 15px;" for="Deactive">Deactive</label> -->
                <div class="p-2 border_one">
                    <div class="row text-center" style="height:48%;">
                        <div class="col-md-12">
                            <label class="px-2 font_color_blue" style="font-size: 15px;"
                                for="4">4</label>
                        </div>
                    </div>
                    <div class="row pb-2 text-center">
                        <div class="col-md-12">
                            <label class="px-2" style="font-size: 15px;" for="Deactive">Deactive</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 mr-4 bg_waterblue border_one">
        <div class="row text-center" style="height:48%;">
            <div class="col-md-12">
                <label class="p-2" style="font-size: 15px;" for="Unpaid Invoices">Unpaid
                    Invoices</label>
            </div>
        </div>
        <div class="row pb-2 text-center">
            <div class="col-md-12">
                <label class="p-2 font_color_blue" style="font-size: 15px;" for="4  $595">4 $595</label>
            </div>
        </div>
    </div>
    <div class="col-md-2 mr-4 bg_waterblue border_one">
        <div class="row text-center" style="height:48%;">
            <div class="col-md-12">
                <label class="p-2" style="font-size: 15px;" for="Net Payment Received">Net Payment
                    Received</label>
            </div>
        </div>
        <div class="row pb-2 text-center">
            <div class="col-md-12">
                <label class="p-2 font_color_blue" style="font-size: 15px;"
                    for="$192034">$192034</label>
            </div>
        </div>
    </div>
    <div class="col-md-2 bg_waterblue border_one">
        <div class="row text-center" style="height:48%;">
            <div class="col-md-12">
                <label class="p-2" style="font-size: 15px;" for="Current Month Payment">Current Month
                    Payment</label>
            </div>
        </div>
        <div class="row pb-2 text-center">
            <div class="col-md-12">
                <label class="p-2 font_color_blue" style="font-size: 15px;" for="$1234">$1234</label>
            </div>
        </div>
    </div>
</div>